header {
  padding: 0 80px;
  margin: 0;
  height: 10vh;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
}

#homeBtn:hover {
  color: black;
}

#website-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#navbar-title {
  font-size: 24px;
  text-align: left;
  flex: 1;
}

#searchSubmitBtn {
  background-color: transparent;
  border: 0px;

  i {
    font-size: 18px;
  }
}

#navbar-search-bar {
  flex: 1;
  display: flex;
  max-width: 80%;
  background-color: white;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 5px;

  input {
    flex: 1;
    padding: 0;
    border: none;
    outline: none;
  }
}

#navbar-links {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
  }

  li {
    margin-left: 20px;
  }
}

#navbar-profile-pic {
  max-height: 100%;

  img {
    border-radius: 50%;
    object-fit: contain;
  }
}


#dropdown {
  position: relative;
}


#dropdown-content {
  display: none;
  background-color: rgb(0, 0, 0);
  width: max-content;
  padding: 10px;
  border-radius: 16px;

  a {
    color: white;
    font-size: 15px;
    padding: 10px 45px;
    border-radius: 8px;
  }

  a:hover {
    background-color: rgb(143, 143, 255);
  }
}

#dropdownBtn {
  padding: 20px;
}

#dropdown:hover #dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  top: 30px;
  right: 0;

  .genreGroup {
    display: flex;
    flex-direction: column;
  }
}

#profile-dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--primary-color);
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
  text-align: left;
}

#dropdown-content a {
  padding: 10px 15px;
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#dropdown-content a:hover {
  background-color: var(--primary-button-hover);
}

#profile-dropdown:hover #dropdown-content {
  display: block;
}